.profile{
    background-color: rgb(230, 230, 230);
    margin: 60px;
    padding: 40px;
    width: 200px;
    
    border: 2px solid rgb(168, 168, 168) ;
    border-radius: 12px;
}
.avatar {
   width: 200px;
}

.description , .stats {
    text-align: center;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 6px;
    background-color:  rgb(237, 241, 253);
   
}